body.greyscale {
  /* Board Colors */
  --background: #999999;
  --light-square: #cccccc;
  --dark-square: #333333c0;
  --light-square-highlight: #E6E697;
  --dark-square-highlight: #99994Ad0;
}

.white-pieces i {
  margin: 0 5px 5px 5px;
}

.black-pieces i {
  margin: 5px 5px 0 5px;
}

.board {
  background-color: var(--light-square);
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #1f1f1f;
  font-size: 2em;
}

.board__square.black-square {
  background-color: var(--dark-square);
}

.board__square.black-square.highlighted {
  background-color: var(--dark-square-highlight);
}

.board__square.white-square.highlighted {
  background-color: var(--light-square-highlight);
}

.board__square {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 2.6em;
}

i.elevated {
  font-size: 3.4em;
}

i.black {
  color: black;
}

i.white {
  color: white;
}


/* Shake animation from: https://www.w3schools.com/howto/howto_css_shake_image.asp */
i.shaker {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(0deg); }
  10% { transform: translate(-4px, -8px) rotate(-4deg); }
  20% { transform: translate(-12px, 0px) rotate(4deg); }
  30% { transform: translate(12px, 8px) rotate(0deg); }
  40% { transform: translate(4px, -4px) rotate(4deg); }
  50% { transform: translate(-4px, 8px) rotate(-4deg); }
  60% { transform: translate(-12px, 4px) rotate(0deg); }
  70% { transform: translate(12px, 4px) rotate(-4deg); }
  80% { transform: translate(-4px, -4px) rotate(4deg); }
  90% { transform: translate(4px, 8px) rotate(0deg); }
  100% { transform: translate(4px, -8px) rotate(-4deg); }
}



.winner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1fd0;
  z-index: 2;
  height: 100vh;
  width: 100%;
}

.winner__display {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #CCCCCCd0;
}

button {
  border: none;
  background-color: #333333;
  color: #EEEEEE;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
