:root {

}

body.greyscale {
  /* Board Colors */
  --background: #999999;
  --light-square: #cccccc;
  --dark-square: #333333c0;
  --light-square-highlight: #E6E697;
  --dark-square-highlight: #99994Ad0;
}

.board {
  background-color: var(--light-square);
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.board__square.black-square {
  background-color: var(--dark-square);
}

.board__square.black-square.highlighted {
  background-color: var(--dark-square-highlight);
}

.board__square.white-square.highlighted {
  background-color: var(--light-square-highlight);
}

.board__square {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 2.6em;
}

i.elevated {
  font-size: 3.2em;
}

i.black {
  color: black;
}

i.white {
  color: white;
}
